@import 'vendor/normalize.css';
@import 'blocks/page.css';
@import 'blocks/section.css';
@import 'blocks/form.css';
@import 'blocks/message.css';
@import 'blocks/header.css';
@import 'blocks/nav.css';
@import 'blocks/buttons.css';
@import 'blocks/grid.css';
@import 'blocks/panel.css';
@import 'blocks/info.css';
@import 'blocks/modal.css';

body {
    position: relative;
}

.button-close {
    border: none;
    background: transparent;
    color: black;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 10px;
    content: 'djsfj'
}
