.badge-group {
    position: absolute;
    top: 16px;
    right: 16px;
    display: block;
    color: #FFFFFF;
    background: #4F46E5;
    display: flex;
    border-radius: 6px;
    padding: 8px;
    align-items: center;
    gap: 5px;
    z-index: 2;
}

.badge {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.badge-icon {
    width: 20px;
    height: 20px;
    background: url("../image/icon-gift.svg");
}