.tag {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;

    border-radius: 6px;
    color: #4F46E5;
    border: 2px solid #4F46E5;
    background: transparent;
    box-sizing: border-box;
    padding: 6px;
}

.tag_checked {
    color: #FFFFFF;
    background: #4F46E5;
    padding: 8px;
    border: none;
    /*color: #4F46E5;*/
    /*border: 2px solid #4F46E5;*/
    /*background: transparent;*/
    /*box-sizing: border-box;*/
    /*padding: 6px;*/
}

.tags-group {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    align-items: flex-start;
}
